body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container {
    text-align: center;
}

.search-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 400px;
}

.ellipse {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.search-input {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

/* 新增的样式，用于垂直和水平居中搜索框 */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
